@charset "UTF-8";

div.banner-content-banner {
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 60px;
}

div.banner-content-login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-8%;
	transform: translate(-50%, -50%);
	width:500px;
	height:400px;
	border-radius:60px;
	background-color: rgba(0, 0, 0, 0.5);

}
div.banner-content-loginform:not(p){

}
div.banner-content-login a:not(p){

}
.content-light a:hover{
	color:#EC6C5A;
}
.content-light .nickname {
	font-family: cursive;
}

/*------------------[Section]--------------------*/
section#billboard {
	background-image: url('/biz/resources/images/banner-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

/*------------------[Banner]-------------------*/
.banner-title {
	font-size: 3rem;
	line-height: 2rem;
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:white;
}
/*-----------------[header.jsp]---------------------*/

ul#name-dropdown {
   margin-left: 320px;
}

#openbasket:hover {
	cursor: pointer;
}

/*-----------------[basketList]---------------------*/
.basketList {
	visibility:hidden;
	z-index:1;
	display: inline-block;
	position: fixed;
	border: 4px solid black;
	width: 600px;
	height: 730px;
	top: 90px;
	background-color: lightgray;
	text-align: center;
}
.basketHead {
	color:black;
	position: absolute;
	border-bottom: 2px dashed black;
	font-size: 30px;
	font-weight: bolder;
	line-height:50px;
	width: 200px;
	height: 45px;
	top: 5px;
	left:200px;
	text-align: center;
}
.ListContainer {
	border: 1px solid black;
	display: inline-block;
	position: relative;
	width: 550px;
	height: 600px;
	top: 60px;
	color: black;
	background-color: white;
	overflow-y: scroll; 
}
.ListNone {
	text-align: center;
	line-height: 578px;
	font-size: 30px;
	font-weight: bold;

}
.ListItem {
	border: 1px solid black;
	display: inline-block;
	position: relative;
	background-color: rgba(0,0,0,0.07);
	width: 500px;
	height: 130px;
	color: black;
	margin-top: 15px;
}
.ItemImage {
	display: inline-block;
	position: absolute;
	width: 82px;
	height: 116px;
	top: 7px;
	left: 10px;
	overflow:hidden;
}
#Item {
	text-align: left;
	padding-left: 15px;
	display: inline-block;
	position: absolute;
	overflow: hidden;
}
.ItemTitle {
	border-bottom: 2px solid gray;
	width: 380px;
	height: 35px;
	top: 7px;
	left: 100px;
	line-height: 35px;
	font-size: 17px;
	font-weight: bold;
}
.ItemAuthor {
	width: 380px;
	height: 25px;
	top: 40px;
	left: 100px;
}
.ItemPublisher {
	width: 380px;
	height: 25px;
	top: 70px;
	left: 100px;
}
.ItemPubdate {
	width: 140px;
	height: 25px;
	top: 100px;
	left: 100px;
}
.ItemDiscount {
	width: 150px;
	height: 25px;
	top: 100px;
	left: 240px;
}
.ItemDelete {
	margin:0;
	padding:0;
	display: inline-block;
	position: absolute;
	width: 70px;
	height: 30px;
	top: 94px;
	left: 420px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: black;
	color: white;
}
.ListClose {
	border: 1px solid black;
	border-radius: 15px;
	display: inline-block;
	position:relative;
	background-color: black;
	color: white;
	font-weight: bold;
	width: 75px;
	height: 40px;
	bottom: -70px;
	line-height: 40px;
}


/*----------------[login]---------------------*/
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	border-radius:60px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:20px 70px 20px 70px;
  border-radius:60px;
  background:rgba(0,0,0,0.5);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab {
	color:rgba(248, 248, 248, 0.5);
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#ffffffdc;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:0px;
}
.login-form .group input::placeholder {
	color:rgba(255,255,255,0.7);
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.3);
}
/*  ------------------------- [sign in]-----------------------------  */
#user-label {
	margin-top: 70px;
}
#id.input,
#email.input,
#pwd.input,
#pwd2.input{
	margin-bottom: 2px;
}
.group#group1{
	margin-bottom: 0px;
}
.mail-check-text ,
.id-check-text,
.nick-check-text,
.pwd-check-text
{
	margin-left:3px;
	font-size: 12px;
	color: rgb(255, 139, 133);
}
input#nickname.input{
	margin-bottom: 5px;
}
#loginbtn{
	margin-bottom: 0;
	margin-top: 5px;
}
.id-check-button {
	font-size:12px;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	border-radius:18px;
	width: 70px;
	height: 35px;
	top: 40px;
	right: 10px;
	line-height: 35px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
	color: black;
}
.mail-check-button {
	font-size:12px;
	text-align: center;
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	border-radius:18px;
	width: 70px;
	height: 35px;
	top: 148px;
	right: 10px;
	line-height: 17px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
	color: black;
}
.nick-check-button {
	font-size:12px;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	display: inline-block;
	border: 1px solid white;
	border-radius:18px;
	width: 70px;
	height: 35px;
	top: 255px;
	right: 10px;
	line-height: 35px;
	cursor: pointer;
	background-color: rgba(255,255,255,0.5);
	color: black;
}
.emailCheck { 
	visibility: hidden;
	z-index: 1;
	left: -20px;
	display: inline-block;
	position: absolute;
	border: 3px solid black;
	border-radius:10px;  
	width: 400px;
	height: 200px;
	background-color: rgba(255,255,255,0.9);
	text-align: center;
}
.emailDoc {
	position: absolute;
	width: 300px;
	height: 50px;
	left:50px;
	color: black;
	font-size: 30px;
}
.emailCodeBox{
	position: absolute;
	top: 80px;
	left:20px;
	width: 250px;
	height: 40px;
	color: black;
}
.emailCodeBox input[type="text"]{
	width: 200px;
	height: 40px;
}
.emailCodeSubmit {
	position: absolute;
	top: 80px;
	right: 50px;
	width: 60px;
	height: 40px;
	color: black;
}
#emailCheckbtn {
	background-color: lightgray;
	border: 1px solid black;
	color: black;
	width: 52px;
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-align: center;
}
#emailCheckClose{
	text-align: center;
	margin:0;
	padding:0;
	position: absolute;
	border-radius:5px;
	width: 65px;
	height:45px;
	top: 140px;
	left: 170px;
}
/* -------  -------------------------------------------------*/
.login-form .group input[data-type="password"]{
	-webkit-text-security: circle;
}
.login-form .group .label{
	color:#ffffff;
	font-size:12px;
}
.login-form .group .button{
	background:rgba(0, 0, 0, 0.664);
	border:2px solid rgba(255, 255, 255, 0.788);
}

.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:30px 0 25px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.login-image{
	width: 200px;
	height: 45px;
	border-radius: 5px;
}

.login-api {
	text-align: center;
	padding-top: 15px;
}


/* --------------- [user manage]----------------*/
div.banner-content-manage:not(p) {
	margin-top:40px;
	width:1600px;
	height:680px;
	border-radius:50px;
	background-color: rgba(0, 0, 0, 0.7);
	overflow-y:scroll;
	text-align: center;
}
.manage-container {
	display: inline-block;
	position: relative;
	width: 90%;
	height: 615px;
	line-height: 40px;
}
.manage-header {
	margin-top:25px;
	border: 1px solid white;
	display: inline-block;
	position: relative;
	width: 90%;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	text-align: left;
	background-color:rgba(255,255,255,0.5);
}
#man-h {
	float: left;
	height: 100%;
	text-align: center;
}
#man-c {
	float: left;
	border: 1px solid white;
	height: 100%;
	text-align: center;
	overflow: hidden;
	height: 40px;
}
.manage-id {width: 33%;}
.manage-nickname {width: 10%;}
.manage-email {width: 20%;	}
.manage-provider {width: 8%;	}
.manage-regdate {width: 12%;	}
.manage-role {width: 7%;}
.manage-role select{
	color: white; 
	height: 40px;
	line-height: 35px;
	border: 0;
}
.manage-role option {background-color: rgba(0, 0, 0, 0.7);}
.manage-manage {width: 10%;	}
.manage-manage input[type="submit"] {
	background-color: transparent;
	margin-top: 5px;;
	padding: 4px;;
	font-size: 14px;
	border: 1px solid white;
	border-radius: 10px;
}
.manage-manage #child {
	float: left;
	height: 100%;
	text-align: center;
	overflow: hidden;
	height: 40px;
}
.manage-manage .change {
	width: 70%;	
	border-right: 1px solid white;
}
.manage-manage .delete {
	width: 30%;	
} 


/* --------------- [user update] --------------------*/
div.banner-content-update:not(p) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:10px;
	width:500px;
	height:630px;
	border-radius:50px;
	background-color: rgba(0, 0, 0, 0.6);
	color:white
}
div.user-update-form {
	margin-top: 20px;
	text-align: center;
}
div.user-update-form h2{
	color: white;
}
.user-update-table td{
	color: white;
	padding-left:30px;
}
.user-update-table input{
	color: white;
}
#userupdate-submit {
	text-align: center;
	padding-left:0;
}
/* ----------------[board 아마 bookboard]----------------------*/
div.banner-content-board {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:10px;
	width: 75%;
	height:650px;
	background-color: rgba(255, 255, 255, 0.9);
	color: white;
}
.banner-content-board h2{
	background-color: rgba(0,0,0,0.6);
	margin:0;
	padding-left:30px;
	height: 60px;
	line-height: 60px;
	color: white;
}
div.banner-content-board .board_table {
	margin-top:5px;
}
div.banner-content-board .board_table .board-1th-tr {
	color: black;
	font-weight: bold;
}
div.banner-content-board .board_table td:nth-child(1){
	padding-left:50px;
}

div.banner-content-board .board_table .board_items{
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
div.banner-content-board .board-insert {
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	border-radius:10px;
	height: 35px;
	width:60px;
	margin-bottom:10px;
	bottom: 0;
	right: 30px;
	line-height: 35px;
	text-align: center;
}
div.banner-content-board .insert-board-form {
	width: 700px;
	height: 500px;
	border: 1px solid lightgray;
	border-radius:20px;
	margin: 20px auto auto;
	text-align: center;
}
div.banner-content-board .insert-1 input[type="text"] {
	margin: 10px 0;
	border:0;
	border-radius:30px;
	width: 650px;
	background-color: rgba(0, 0, 0, 0.1);
}
div.banner-content-board .insert-2 .textarea {
	margin: 10px 0;
	border:0;
	border-radius:30px;
	width: 650px;
	height: 400px;
	resize:none;
	background-color: rgba(0, 0, 0, 0.1);
}

div.banner-content-board .insert-3 input[type="submit"]{
	border-radius:15px;
	background-color: rgba(0, 0, 0, 0.4);
}
div.banner-content-board .board-detail {
	height: 30px;
}
div.banner-content-board .board-detail1 {
	display: inline-block;
	width: 550px;
}
div.banner-content-board .board-detail1 h5{
	text-align: left;
	padding-left: 10px;
}

div.banner-content-board .board-detail2 {
	display: inline-block;
	width: 90px;
}
div.banner-content-board .detail-1 input[type="text"] {
	margin: 10px 0;
	border:0;
	border-radius:30px;
	width: 650px;
	background-color: rgba(0, 0, 0, 0.1);
}
div.banner-content-board .detail-2 .textarea {
	margin: 10px 0;
	border:0;
	border-radius:30px;
	width: 650px;
	height: 370px;
	resize:none;
	background-color: rgba(0, 0, 0, 0.1);
}
div.banner-content-board .detail-3 input[type="submit"]{
	border-radius:15px;
	background-color: rgba(0, 0, 0, 0.4);
}

/*------------------------[getBoardLIST(free)]------------------------------------*/

.getBoardList-Container {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-45%);
	width: 70%;
	height: 825px;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	overflow: hidden;
}
.getBoardList-description-Container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.6);
	
}
.getBoardList-description-Container .board-description{
	display: inline-block;
	position: absolute;
	left:0;
	width: 250px;
	height: 60px;
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 2.0em;
	font-family: var(--heading-font);
}
.getBoardList-Container .getboardMain-Container{
	position: relative;
	display: inline-block;
	width: 75%;
	height: 93%;
}
.getBoardList-Container .getboardMain-Container .main-description {
	position: absolute;
	display: inline-block;
	height: 45px;
	width: 100%;
	left: 0;
	margin-top:15px;
	background-color: rgba(50,50,50,0.4);
}
.main-description #main-items{
	display: inline-block;
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	color: white;
	line-height: 45px;
	border: 1px solid white;
}
.main-description .item-category{left:0;width: 15%;}
.main-description .item-title{left: 15%;width: 45%;}
.main-description .item-writer{left: 60%;width: 15%;}
.main-description .item-createtime{left: 75%;width: 15%;}
.main-description .item-viewcount{left: 90%;width: 10%;}

.getBoardMain-Container .content-container {
	display: inline-block;
	position: absolute;
	top:60px;
	left:0;
	width: 100%;
	height:685px; 
	background-color: rgba(255,255,255,0.7);
}
.content-container .content-box{
	display: inline-block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:605px;
	overflow-y:scroll; 
}
.content-box .contents {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid lightgray;
	line-height: 35px;
	box-sizing: border-box;	
}
.contents #content-items{
	display: inline-block;
	position: absolute;
	font-size: 15px;
	color: black;
	line-height: 40px;
}
.contents .content-category{left:0;width: 15%;}
.contents .content-title{left: 15%;width: 45%;text-align: left; margin-left:10px;}
.contents .content-writer{left: 60%;width: 15%;}
.contents .content-createtime{left: 75%;width: 15%;}
.contents .content-viewcount{left: 90%;width: 10%;}
.content-container .paging-box{
	display: inline-block;
	position: absolute;
	top:610px;
	left:0;
	width: 100%;
	height:45px; 
	line-height: 45px;
}
.paging-box .paging-item {
	display: inline-block;
	position: relative;
	width: 290px;
	height: 40px;
	margin-bottom: 20px;
}
.paging-result {
	display: inline-block;
	position: absolute;
	top: 650px;
	width: 100%;
	height: 30px;
	left:0;
}
.paging-result .paging-result-item {
	display: inline-block;
	position: relative;
	width: 290px;
	height: 30px;
}
.getBoardList-Container .write-board {
	display: inline-block;
	position: absolute;
	right: 55px;
	bottom: 20px;
	width: 70px;
	height: 40px;
}
.getBoardList-Container .write-board .writeboard-btn{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 70px;
	height: 40px;
	background-color: lightgray;
	line-height: 40px;
	color: black;
	border: 1px solid white;
	border-radius: 10px;
}
#pagination-wrap {
	font-size: 0;
	text-align: center;
	width: 290px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content:center;
	flex-direction: row;
}
.paging-li {
	margin:0;
	padding:0;
	display: flex;
	border: 1px solid gray;
	width: 40px;
	height: 40px;
	margin: 0px 1px 0px 1px;
	border-radius: 5px;
	color: black;
}
.paging-li a{
	margin:0;
	padding:0;
	width: 40px;
	height: 40px;
	color: black;
	font-size: 15px;
	line-height: 40px;
}
.paging-li:hover{
	background-color: lightgray;
}
.paging-li a:hover{
	color:white;
}
/*----------------------------------------------------------------------------*/
/*----------------------------[new insertBookBoard]----------------------------------------*/
.BookBoardForm-Container {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-45%);
	width: 70%;
	height: 825px;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	overflow: hidden;
}
.BookBoardForm-description-Container {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.6);
}
.BookBoardForm-description-Container .BookBoardForm-description{
	display: inline-block;
	position: absolute;
	left:0;
	width: 300px;
	height: 60px;
	color: white;
	text-align: center;
	line-height: 60px;
	font-size: 2.0em;
	font-family: var(--heading-font);
}
.BookBoardForm-Container .BookBoardFormMain-Container{
	position: relative;
	display: inline-block;
	width: 75%;
	height: 93%;
}
.BookBoardFormMain-Container .BookBoard-Form {
	box-shadow: 2px 2px rgba(0,0,0,0.3);
	border: 1px solid lightgray;
	border-radius:10px;
	display: inline-block;
	position: absolute;
	top:35px;
	left:0;
	width: 100%;
	height:700px; 
	background-color: rgba(255,255,255,0.7);
	overflow: hidden;
}
.BookBoard-Form .BookBoard-Form-description {
	display: inline-block;
	position: relative;
	width: 90%;
	height: 60px;
	border-bottom: 1px dashed black;
	margin-top: 15px;
	line-height: 60px;
	font-size: 25px;
	font-weight: bold;
}
.BookBoard-Form .book-title-wrap {
	display: inline-block;
	position: absolute;
	top: 90px;
	left: 13%;
	width: 60%;
	height: 60px;
}
.BookBoard-Form .book-title-wrap input[type="text"]{
	border: 1px solid gray;
	border-radius: 10px;
	height:60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.BookBoard-Form .book-select-wrap {
	display: inline-block;
	position: absolute;
	top: 90px;
	left: 75%;
	width: 10%;
	height: 60px;
}
.BookBoard-Form .book-select-wrap #book-select {
	margin: 0;
	padding: 0;
	border-radius:15px;
	width: 100%;
	height: 60px;
	background-color: rgba(0,0,0,0.7);
}
.BookBoard-Form .book-main-wrap {
	position: absolute;
	display: inline-block;
	left:13%;
	top: 170px;
	width: 72%;	
	height: 450px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 10px;
}
.BookBoard-Form .book-main-wrap .book-image-wrap {
	position: absolute;
	display: inline-block;
	left: 0;
	width: 35%;
	height: 100%;
	text-align: center;
}
.book-image-wrap .img-notice {
	position: relative;
	display: inline-block;
	width: 80%;
	height: 80%;
	margin-top: 40px;
	margin-left:15px;
	border: 1px solid black;
	line-height: 370px;
	border: 1px solid lightgray;
}
.book-image-wrap .image-box {
	position: relative;
	display: inline-block;
	border: 1px solid lightgray;
	width: 197px;
	height:278px;
	margin-top: 45px;
	overflow: hidden;
}
.book-image-wrap .title-box {
	color: black;
	margin:12px auto 0px auto;
	position: relative;
	border-bottom : 1px dashed gray;
	width: 80%;
	height:46px;
	overflow: hidden;
	line-height: 23px;
	word-wrap: break-word;
    display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
}
.book-image-wrap .author-box {
	color: black;
	margin:12px auto 0px auto;
	position: relative;
	width: 80%;
	height:46px;
	overflow: hidden;
	line-height: 23px;
	word-wrap: break-word;
    display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
}
.BookBoard-Form .book-main-wrap .book-content-wrap {
	position: absolute;
	display: inline-block;
	right: 0;
	width: 65%;
	height: 100%;
}
.book-content-wrap .book-content {
	margin-top: 40px;
	border:2px solid lightgray;
	border-radius:10px;
	width: 90%;
	height: 80%;
	resize:none;
	background-color: rgba(100, 100, 100, 0.1);
}
.BookBoard-Form .book-submit-wrap{
	display: inline-block;
	position: absolute;
	bottom: 10px;
	left:0;
	width: 100%;
	height: 50px;
}
.BookBoard-Form .book-submit-wrap input[type="submit"]{
	margin: 0;
	padding: 0;
	width: 90px;
	height: 50px;
	border-radius: 15px;
	border: 3px solid gray;
	color: gray;
	font-size:20px;
	font-weight: bold;
	line-height: 50px;
	background-color: white;
}
.book-select-page {
	visibility:hidden;
	z-index:10;
	position: absolute;
	display: inline-block;
	width: 500px;
	height: 700px;
	top: 20px;
	border: 2px solid gray;
	background-color: rgba(230,230,230);
}
.book-select-page .select-page-description{
	position: relative;
	display: inline-block;
	font-size:40px;
	color: black;
	width: 450px;
	height: 70px;
	border-bottom: 2px dashed black;
	line-height: 80px;
}
.book-select-page .select-page-content-container{
	position: relative;
	display: inline-block;
	width:450px;
	height:550px;
	border: 1px solid gray;
	background-color: rgba(255,255,255,0.9);
    overflow-y: scroll;
}
.book-select-page .select-page-close {
	position: relative;
	display: inline-block;
	width: 450;
	height: 75px;
}
.book-select-page .select-page-close #closebtn{
	padding: 0;
	width: 80px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid white;
}


.selectListItem {
	border: 1px solid black;
	display: inline-block;
	position: relative;
	background-color: rgba(0,0,0,0.07);
	width: 420px;
	height: 130px;
	color: black;
	margin-top: 15px;
	border: 1px solid black;
}
.selectItemImage {
	display: inline-block;
	position: absolute;
	width: 82px;
	height: 116px;
	top: 7px;
	left: 10px;
	overflow:hidden;
	border: 1px solid gray;
}
#selectItem {
	text-align: left;
	padding-left: 15px;
	display: inline-block;
	position: absolute;
	overflow: hidden;
}
.selectItemTitle {
	border-bottom: 2px solid gray;
	width: 315px;
	height: 35px;
	top: 7px;
	left: 100px;
	line-height: 35px;
	font-size: 17px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.selectItemAuthor {
	width: 315px;
	height: 25px;
	top: 43px;
	left: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.selectItemPublisher {
	width: 315px;
	height: 25px;
	top: 70px;
	left: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.selectItemPubdate {
	width: 140px;
	height: 25px;
	top: 100px;
	left: 100px;
}
.selectItemSelect {
	margin:0;
	padding:0;
	display: inline-block;
	position: absolute;
	width: 70px;
	height: 30px;
	top: 94px;
	left: 330px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: black;
	color: white;
}
/*-----------------------------------------------------------------------------------*/
/*------------------------------------[getBookBoard]-------------------------------*/

.BA2-main-container {
	position: relative;
    display: inline-block;
    width: 75%;
    height: 93%;
    text-align: center;
}
.BA2-content-wrap {
	box-shadow: 2px 2px rgba(0,0,0,0.3);
	border: 1px solid lightgray;
	border-radius:10px;
	display: inline-block;
	position: absolute;
	top:15px;
	left:0;
	width: 100%;
	height:480px; 
	background-color: rgba(255,255,255,0.7);
	overflow: hidden;
}
.BA2-title-wrap {
	position: relative;
	display: inline-block;
	width: 72%;
	height: 40px;
	margin-top: 15px;
	border: 1px solid lightgray;
    border-radius: 10px;
    background-color: rgba(210, 210, 210, 0.1);
}
.BA2-title-wrap p{
	position: absolute;
	width: 100%;
	height: 40px;
	line-height:40px;
	text-align: left;
	padding:0px 20px 0px 20px ;
	font-size: 18px;
	color: gray;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
.BA2-content-main-box {
	position: relative;
    display: inline-block;
    top: 10px;
    width: 72%;
    height: 400px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
}
.BA2-image-box {
	position: absolute;
    display: inline-block;
    left: 0;
    width: 35%;
    height: 100%;
    text-align: center;
}
.BA2-image {
	position: relative;
    display: inline-block;
    border: 1px solid lightgray;
    width: 189px;
    height: 267px;
    margin-top: 15px;
    overflow: hidden;
}
.BA2-image-box .BA2-title-box {
	color: black;
	margin:12px auto 0px auto;
	position: relative;
	border-bottom : 1px dashed gray;
	width: 80%;
	height:46px;
	overflow: hidden;
	line-height: 23px;
	word-wrap: break-word;
    display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
}
.BA2-image-box .BA2-author-box {
	color: black;
	margin:12px auto 0px auto;
	position: relative;
	width: 80%;
	height:46px;
	overflow: hidden;
	line-height: 23px;
	word-wrap: break-word;
    display: -webkit-box;
        -webkit-line-clamp: 2 ;
        -webkit-box-orient: vertical;
}
.BA2-content-box {
	position: absolute;
    display: inline-block;
    right: 0;
    width: 65%;
    height: 100%;
}
.BA2-info{
	position:relative;
	display: inline-block;
	margin-top: 15px;
	border-bottom: 1px dashed gray;
	height: 30px;
	width: 90%;
	text-align: left;
}
.BA2-info .writer {
	position:absolute;
	display: inline-block;
	left: 5%;
}
.BA2-info .write-time {
	position:absolute;
	display: inline-block;
	right: 5%;
}
.BA2-content-box .BA2-content {
	position: relative;
	display:inline-block;
	margin-top: 15px;
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 90%;
    height: 80%;
    overflow-y: scroll;
    background-color: rgba(210, 210, 210, 0.1);
    padding: 20px 15px 15px 20px;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}
.control-btn{
	display: inline-block;
	position: absolute;
	width: 130px;
	height: 30px;
	bottom: 10px;
	right: 5px;
}
.control-btn .control-item{
	display: inline-block;
	position: relative;
	width: 45px;
	height: 30px;
	padding: 0;
	margin: 0px 5px 0px 5px;
	background-color: gray;
	border: 1px solid white;
	border-radius: 10px;
}
.BA2-comment-wrap {
	position: absolute;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid lightgray;
	box-shadow: 2px 2px rgba(0,0,0,0.3);
	background-color: rgba(230,230,230,0.8);
	width: 100%;
	height: 270px;
	left: 0;
	bottom: 0;
}
.BA2-comment-wrap .BA2-input-comment-wrap {
	border: 1px solid black;
	display: inline-block;
	position: relative;
	width: 90%;
	height: 60px;
}
.BA2-input-comment-wrap .comment{
	display: inline-block;
	position: relative;
	width: 85%;
	height: 100%;
	font-size: 13px;
	line-height: 26px;
}	
/*---------------------------------------------------------------------------------*/
/* - -----------------[book Recommend]--------------------------*/
.banner-content-board .banner-content-banner h2{
	display:inline-block;
	background-color:transparent;
	margin: 0;
	padding-left:30px;
	height: 60px;
	line-height: 60px;
	color: white;
	width: 700px;
}
.banner-content-board .banner-content-banner .h4{
	position: absolute;
	right: 0;
	top:0;
	width: 400px;
	height: 60px;
	box-sizing: border-box;
	margin: 0;
}
.banner-content-board .banner-content-banner h4{
	margin: 0;
	padding: 0 0 0 80px;
	height: 60px;
	line-height: 60px;
	color: white;
	right: 0;
}
.banner-content-board .book-select {
	box-sizing:border-box;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
	position: relative;
}
.banner-content-board .book-select .book-category {
	position: absolute;
	left: 0;
	width: 350px;
	height: 60px;
	text-align: center;
}
.banner-content-board .book-select .book-description-container{
	position: absolute;
	margin-top:30px;
	left: 26%;
	width: 320px;
	height: 60px;
	text-align: center;
	border-bottom: 2px solid rgba(0,0,0,0.8);
	color: black;
	line-height: 70px;
    font-size: 30px;
    font-weight: bold;
}
.banner-content-board .book-select .book-category select {
	width: 200px;
	color: rgb(128, 128, 128);
	font-family: inherit;
	background: white url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #999;
	border-radius: 4px;
	display: inline-block;
	margin: 3px 0 0;
}
.banner-content-board .book-select .book-category button,
.banner-content-board .book-select .book-search button {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 0 0 15px;
	padding:0;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(200,200,200,0.9);
}
.banner-content-board .book-select .book-search {
	position: absolute;
	right:0;
	width: 400px;
	height: 60px;
	text-align: center;
}
.banner-content-board .book-select .book-search input[type="text"] {
	width: 300px;
	height: 50px;
	margin: 3px 0 0;
	border-color: rgb(128, 128, 128);
	border-radius: 50px;
}
.banner-content-board .book-content {
	position: relative;
	margin-top: 30px;
	height: 500px;
	text-align: center;
	overflow: scroll;
}
.banner-content-board .book-content .book-content-item {
	display: inline-block;
	width: 280px;
	height: 480px;
	margin-bottom: 30px;
	overflow: hidden;
}
.banner-content-board .book-content .book-content-img {
	margin: 5px 55px 0 55px;
	display: inline-block;
	width: 164px;
	height: 232px;
	overflow: hidden;
}
.banner-content-board .book-content .book-content-result {
	position:relative;
	margin-top:5px;
	display: block;
	width: 285px;
	height: 232px;
	overflow: hidden;
	text-align: center;
}
.banner-content-board .book-content .book-content-result .item1 {
	margin: 2px auto 0 auto;
	width: 230px;
	height: 38px;
	font-size: 16px;
	color:black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: center;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2 ;
	-webkit-box-orient: vertical;
}
.banner-content-board .book-content .book-content-result .item2 {
	margin: 5px auto 0 auto;
	width: 230px;
	height: 19px;
	font-size: 16px;
	color:black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: center;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1 ;
	-webkit-box-orient: vertical;
}
.banner-content-board .book-content .book-content-result .item3 {
	margin: 5px auto 0 auto;
	width: 230px;
	height: 19px;
	font-size: 16px;
	color:black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: center;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1 ;
	-webkit-box-orient: vertical;
}
.banner-content-board .book-content .book-content-result .item4 {
	margin: 5px auto 0 auto;
	width: 230px;
	height: 95px;
	font-size: 16px;
	color:black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: center;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 5 ;
	-webkit-box-orient: vertical;
}
.banner-content-board .book-content .book-content-result .item5 {
	box-sizing:border-box;
	background-color:black;
	border: 1px solid white;
	border-radius:15px;
	margin: 8px auto 0 auto;
	width: 95px;
	height: 30px;
	line-height: 28px;
}
.banner-content-board .book-content .book-content-result .item5 a{
	color:white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.5s;
}
.banner-content-board .book-content .book-content-result .item5 a:hover{
	color:gold;
}

/* ----------------[book Review]----------------------*/
.backbtnContainer {
	position: absolute;
	right: 30;
	top:0;
	margin: 0;
	width: 150px;
	height: 60px;
	box-sizing: border-box;
	text-align: center;
}
.backbtnContainer .backbtn {
	border: 2px solid white;
	padding: 5px;
	margin-top: 13px;
	border-radius: 10px; 
	background-color: rgba(100,100,100,0.7);
}
.banner-content-board .book-content .book-content-item1 {
	display: inline-block;
	position:absolute;
	left: 0;
	border-right: 1px solid rgba(0,0,0,0.3);
	width: 50%;
	height: 500px;
	overflow-y: hidden;
}
.banner-content-board .book-content .book-content-result0 {
	border-bottom: 1px dashed black;
	height: 250px;
	width: 100%;
}
.banner-content-board .book-content .book-review-img {
	display: inline-block;
	position: absolute;
	left: 20%;
	margin: 0;
	width: 164px;
	height: 240px;
	overflow: hidden;
}
.book-content-description {
	display: inline-block;
	position: absolute;
	border-left: 1px solid gray;
	top: 5px;
	width: 340px;
	height: 200px;
	right: 5%;
}
.banner-content-board .book-content .book-content-result1 {
	position:relative;
	margin: 5px auto 0 auto;
	display: block;
	width: 100%;
	height: 242px;
	overflow-y: scroll;
	text-align: center;
}
.book-content-description .item {
	position: relative;
	border-bottom: 1px dashed black;
	margin: 0px auto 5px auto;
	width: 280px;
	height: 60px;
	font-size: 16px;
	color:black;
	line-height: 30px;
	text-align: left;
}
.book-content-description .item-in {
	position: absolute;
	top: 0;
	right:0;
	margin: 7px auto 5px auto;
	width: 220px;
	height: 50px;
	font-size: 16px;
	color:black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 2 ;
	-webkit-box-orient: vertical;
}
.book-content-description .item1 {
	border-bottom: 1px dashed black;
	margin: 0px auto 5px auto;
	width: 280px;
	height: 30px;
	font-size: 16px;
	color:black;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 30px;
	text-align: left;
}
.book-content-result1 .item2 {
	margin: 7px auto 0 auto;
	width: 80%;
	height: auto;
    font-size: 16px;
    color:black;
    line-height: 1.4;
    text-align: center;
}
.book-content-result0 .basket-button {
	position: absolute;
	display: inline-block;
	width:90px;
	height: 35px;
	top: 210px;
	right: 170px; 
}
.book-content-result0 .basket-button .basket{
	background-color: rgba(180,180,180,0.8);
	font-weight: bold;
	border: 2px solid black;
	width:90px;
	height: 35px;
	color: white;
	margin: 0;
	padding: 0;
}
.banner-content-board .book-content .book-content-item2 {
	display: inline-block;
	position:absolute;
	right: 0;
	width: 50%;
	height: 520px;
	overflow: hidden;
	text-align: center;
}
.banner-content-board .book-content .book-content-item2 .book-review-nav {
	border: 2px dotted black;
	border-radius:30px;
	margin-bottom:10px;
	display: inline-block;
	background-color: rgba(0,0,0,0.15);
	height:50px;
	width: 300px;
	line-height:46px;
	font-size: 30px;
	font-family: cursive;
	font-weight:bold;
	color: black;
}
.banner-content-board .book-content .book-content-item2 .blog-content-container {
	display: inline-block;
	width: 100%;
	height: 460px;
	overflow: scroll;
}
.banner-content-board .book-content .review-content-item {
	border: 1px solid lightgray;
	box-sizing: border-box;
	background-color:rgba(255,255,255,0.5);
	margin: 4px 0 4px 0;
	position:relative;
	display: inline-block;
	width: 80%;
	height: 102px;
	overflow: hidden;
}
.banner-content-board .book-content .review-content-item1{
	display: inline-block;
	width:100%;
	height:24px;
	font-size: 17px;
	font-weight: bolder;
	color:black;
	line-height: 24px;
	text-align: left;
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1 ;
	-webkit-box-orient: vertical;
	border-bottom: 1px solid lightgray;
}
.banner-content-board .book-content .review-content-item2 {
	width:100%;
	height:76px;
	font-size: 16px;
	color: rgb(128, 128, 128);
	text-align: left;
	padding-left:10px;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 4 ;
	-webkit-box-orient: vertical;
}

form.book-Recommand-form,
form.book-category-form {
	margin-bottom: 0;
}


/* - place Recommend
--------------------------------------------------------------*/
.banner-content-board .place-header-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
	width: 100%;
	height: 60px;
	text-align: center;
	border-bottom: 1px solid black;
}

.banner-content-board .place-body-content {
	position: relative;
	height: 520px;
	padding: 1.5rem;
}

.banner-content-board .place-header-content > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-content-board .place-header-content .search-input,
.banner-content-board .place-header-content .select-list,
.banner-content-board .place-header-content .btn-place
{
	height: 60%;
	margin: 0 0.5rem;
}

.banner-content-board .place-header-content .btn-place {
	background-color: rgba(200,200,200,0.9);
	color: black;
	display: inline-block;
	width: 100px;
	height: 70%;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	padding: 0.1rem 1rem;
	margin: 0;
}

.banner-content-board .place-body-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-content-board .place-body-content .place-map {
	width: 70%;
	height: 100%;
}

.place-map .map-infowindow {
	user-select: none;
	box-sizing: border-box;
	color: black;
	padding: 1rem;
}

.place-map .map-infowindow h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.place-map .map-infowindow p {
	font-size: 12px;
	line-height: 1;
	margin: 0.4rem 0;
}

.place-map .map-infowindow a {
	border: 1px solid black;
	background-color: #EC6C5A;
	color: white;
	border-radius: 4px;
	font-size: 10px;
	padding: 5px;
}

.banner-content-board .place-body-content .map-result {
	padding: 0.5rem 0;
	cursor: pointer;
	user-select: none;
	width: 30%;
	height: 100%;
	margin-left: 1rem;
	overflow-y: scroll;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.map-result .place-result-item {
	background-color: rgba(200,200,200,0.9);
}

.map-result .place-result-item:not(:last-child) {
	margin-bottom: 10px;
}

.map-result .place-result-item .result-header {
	text-align: center;
}

.map-result .place-result-item .result-header h2 {
	font-size: 14px;
	padding: 10px 0;
	height: fit-content;
	line-height: initial;
}

.map-result .place-result-item .result-body {
	color: black;
	padding: 0.5rem;
}

.map-result .place-result-item .result-body p {
	font-size: 12px;
	margin-bottom: 0.4rem;
}

/*================================================================== Hedaer.jsp*/

ul#name-dropdown {
	margin-left: 270px;
}